	<!--Navegation Bar y Dropdown(Menú)-->
<div class="div2">
	<img id="img1" src="/assets/Img/violett_logo_2.jpg">
	<ul>
		<li><a href="/contacto">Contacto</a></li>
		<li><a href="/formulario">Proyectos</a></li>
		<li><a href="/proyectos">Portafolio</a></li>
		<li class="dropdown">
			<a href="/nosotros" class="dropbtn">Nosotros</a>
			<div class="dropdown-content">
				<a href="/404">Misión</a>
				<a href="/404">Visión</a>
				<a href="/404">Valores</a>	
			</div>
		</li>
		<li><a href="/">Inicio</a></li>
	</ul>
</div>