<!DOCTYPE html>
<html lang="en">
<head>
    {{!----}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {{!-- css
    <link rel="stylesheet" href="assets/css/contacto.css"> 
    <link rel="stylesheet" href="assets/css/formulario.css">
    <link rel="stylesheet" href="assets/css/nosotros.css"> 
    <link rel="stylesheet" href="assets/css/proyectos.css">  --}}
     {{!-- Fonts --}}
     <link rel="stylesheet" href={{ruta}}>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Limelight&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=Josefin+Sans:ital@1&family=Limelight&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <script src="assets/js/gotup.js"></script>
    <title>Document</title>
</head>
<body class="div2">
    {{>menu}}
   {{{body}}} 
    {{>footer}}
</body>
</html>