<table class="default">

	<tr>
      <!--Primera celda-->
	  <td>
		<br><br><br><br>
		<h1>CONTACTO</h1>
		<br><br>
		<hr>
		<br><br>

		<p><img src="/public/assets/Img/icono_locacion.png" height="22" width="22"> C/Francisco Prats Ramírez 224, Evaristo Morales, Santo Domingo</p>
		<br>
		<p><img src="/public/assets/Img/icono_telefono.png" height="22" width="22"> +(829)-000-0000 ext. 301</p>
		<br>
		<p><img src="/public/assets/Img/icono_instagram.png" height="22" width="22"> @violett.agency</p>
		<br>
		<p><img src="/public/assets/Img/icono_correo.png" height="22" width="22"> violett.agency@gmail.com</p>
	    <br><br><br>
		<br><br><br>
		<br><br><br>
		<div class="img">
			<button class="btn"><a href="https://www.google.com/maps/@18.455997,-69.966933,15z" target="_blank">Click para ir al mapa</a></button>
		</div>
	
	</td>
  
	  <!--Segunda celda (formulario)-->
	  <td id="td1">
		  <h3>Contactanos con el siguiente formulario</h3>
		  <br>
		<div class="container">
			<form action="/contacto" method="POST" class="formulario">
			<div class="row">
			  <div class="col-25">
				<label for="nombre">Nombre completo:</label>
			  </div>
			  <div class="col-75">
				<input type="text" id="nombre" name="nombre" placeholder="Tu nombre..">
			  </div>
			</div>
			<div class="row">
			  <div class="col-25">
				<label for="email">Correo electronico:</label>
			  </div>
			  <div class="col-75">
				<input type="text" id="email" name="email" placeholder="Correo..">
			  </div>
			</div>
			<div class="row">
				<div class="col-25">
				  <label for="asunto" >Titulo:</label>
				</div>
				<div class="col-75">
					<input type="text" id="asunto" name="asunto" placeholder="Titulo..">
				</div>
			</div>
			<div class="row">
			  <div class="col-25">
				<label for="mensaje">Asunto</label>
			  </div>
			  <div class="col-75">
				<textarea id="mensaje" name="mensaje" placeholder="escribe algo.." style="height:200px"></textarea>
			  </div>
			</div>
			<div class="row">
			  <input type="submit" value="Submit">
			</div>
			</form>
		  </div>		  
	  </td>

	<td>
		<img src="/public/assets/Img/anunciobanner3.gif">
	</td>

</tr>
  
  </table>
