<!--CONTENIDO-->

<br><br>

<h2>⋆ PROYECTOS ⋆</h2>
<br>
<hr>
<br>
<h3 id="Ph3"> Olivia Rodrigo - SOUR Merch </h3>

<br><br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/NshAaPkvnK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<br><br><br><br>

<div class="img">
	<button class="btn"><a href="https://shopuk.oliviarodrigo.com/*/Merchandise/" target="_blank">Ver merch</a></button>
</div>

<br><br><br>

<audio src="C:\Users\Leslie Rodiguez\Desktop\PROYECTO FINAL\jealousy jealousy Lyrics.mp3" type= "audio/mpeg" controls = ""></audio>

<br><br>