<!-- Contenido -->
<div id="Nosotros">
	<br><br>
	<h2 id="h21">⋆ NOSOTROS ⋆</h2>

	<br>

	<table>
		<tr>
  
			<td>
				<div id="Parrafos">
<p>
	<img id="img3" src="https://i.pinimg.com/564x/51/d1/2e/51d12e4bfe2a3b97dfc3123015ff661d.jpg" height="400" width="400">
	<br><br><p id="td1"><b>v i o l e t t </b>somos una empresa que consiste en la creación de banners
	     publicitarios que van desde un simple póster publicitario hasta publicidad
         audio visual.</p>

		 <p id="td1">No solo ofrecemos campaña publicitaria offline sino que también se puede optar 
			por el servicio de la publicidad digital, en esta nos encargamos de colocarlos
			 en páginas web con mucho tráfico / visitas, en las aplicaciones y redes 
			 sociales mas populares así como juegos y demas.</p>
</p>
</div>
		</td>
	</tr>
</table>

<br>
<br>
<br>

</div>

<div id="Mision">
<br>
<br>
	<br><br>
	<h2>⋆ MISION ⋆</h2>

	<br>
	<br>
	<br>
<div id="Parrafos">
	<p>
		<img id="img3" src="https://img.freepik.com/free-vector/businesswoman-leader-stand-out-from-crowd-individual-spotlight-hire-human-resource-recruitment-candidate-people-group-business-team-concept_48369-19518.jpg?size=626&ext=jpg" height="300" width="500">
		<br><br>Nos encanta "hacer llegar el mensaje".
		<br>
			 <p> Nuestra misión es construir una relación con nuestros clientes que nos permita saber cómo ayudarlos con nuestro
			 	conocimiento en marketing y publicidad para hacer que su empresa sea reconocida, con publicidad creativa que
			 	capture la atención del público, queremos ayudar a nuestros clientes a que sus empresas destaquen en la multitud.
			 </p>
	</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

<div id="Vision">
	<br>
	<br>
	<br><br>
		<h2>⋆ VISION ⋆</h2>
	
		<br>
		<br>
<div id="Parrafos">
		<p>
			<img id="img3" src="https://chiefexecutive.net/wp-content/uploads/2018/05/growingbusiness.jpg" height="400" width="500">
			<br><br>
				 <p> Nuestra <b>vision</b> como empresa es ayudar a las empresas de menor tamaño y profesionales con servicios profesionales de 
					 Marketing, Comunicación y Publicidad utilizando canales y medios en la web disponibles 
					 para incrementar sus ventas y destacarse de su competencia.
				</p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>

<div id="Valores">
	<br>
	<br>
	<br>
	<br>
		<h2>⋆ VALORES ⋆</h2>
	
		<br>

<div id="Parrafos">
		<p>
			<img id="img3" src="https://s1.significados.com/foto/valores-empresariales-1_bg.jpg" height="400" width="500">
			<br>
				 <p> Nuestros <b>valores</b> como empresa son:</p>
				
				 <br>
				
				 <p><b>1. HONESTIDAD</b>, somos sinceros en las posibilidades de un proyecto, recomendamos lo más adecuado, no lo más caro.</p>

				 <p><b>2. RESPONSABILIDAD</b>, siempre nos comprometemos al 100% con cada proyecto.</p>

				 <p><b>3. PROFESIONALIDAD</b>, investigamos, analizamos y buscamos las mejores opciones.</p>

				 <p><b>4. ENTREGA</b>, no nos conformamos con cumplir, buscamos ofrecer cada día más.</p>

				 <p><b>5. COMPLICIDAD</b>, trabajamos con el cliente, no para el cliente, intentamos 
					que participe en la creación, que se sienta parte de cada proyecto.</p>
		</div>

		</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>

  <!--Boton-->

<div id="subir__arriba">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-up" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
		<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
		<line x1="12" y1="4" x2="12" y2="14" />
		<line x1="12" y1="4" x2="16" y2="8" />
		<line x1="12" y1="4" x2="8" y2="8" />
		<line x1="4" y1="20" x2="20" y2="20" />
	  </svg>
	</div>